---
import Layout from "../landing/layout.astro";
import Hero from "../landing/sections/hero.astro";
import EndToEnd from "../landing/sections/end-to-end-typesafety.astro";
import Features from "../landing/sections/features.astro";
import Faq from "../landing/sections/faq.astro";
import Cta from "../landing/sections/cta.astro";
---

<Layout>
  <main class="flex flex-col gap-28">
    <Hero />
    <EndToEnd />
    <Features />
    <Cta />
    <Faq />
  </main>
</Layout>
