---
import Layout from "../landing/layout.astro";
import Hero from "../landing/sections/hero.astro";
import Comparisons from "../landing/sections/comparisons.astro";
import HowItWorks from "../landing/sections/how-it-works.astro";
import ComingSoon from "../landing/sections/coming-soon.astro";
import Cta from "../landing/sections/cta.astro";
---

<Layout>
  <main class="flex flex-col gap-24 py-20 md:gap-32 md:py-24">
    <Hero />
    <Comparisons />
    <HowItWorks />
    <ComingSoon />
    <Cta />
  </main>
</Layout>
